.divCard {
    width: 300px;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    /* background-color:transparent; */
    /* border: 2px solid rgb(1, 52, 107); */
    /* border: 2px solid rgb(250, 240, 5); */
    border: 2px solid rgb(255, 30, 0);
    border-radius: 17px;
    padding: 10px;
    cursor:grab;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translatez(0);
    transition: transform 0.5s ease-out;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.divCard:hover{
    transform: scale(1.05);
    border-color: rgb(0, 158, 213);
}

.imgCard {
    object-fit: cover;
    width:200px;
    height: 300px;
    border-radius: 10px;
}

.h3Link {
    font-size: 22px;
    transition: 0.25s ease-out;
    text-shadow: 2px 2px 3px black;
    margin: 0 auto 8px auto;
    /* color: aqua; */
    /* color: rgb(250, 240, 5); */
    color: rgb(0, 158, 213);
}

.h3Link:hover {
    transform: scale(1.05);
    color: rgb(255, 30, 0);
}

.pTeams {
    padding: 0 10px;
    font-size: 15px;
    /* color: rgb(0, 158, 213); */
}