.divSearchBar {
    margin-top: 28px;
}

.searchButton {
    width: 100px;
    height: 25px;
    margin-left: 15px;
    font-size: 0.8em;
    font-weight: 300;
    color: aqua;
    background-color: transparent;
    border: 1px solid aqua;
    border-radius: 40px;
    padding: 0 16px;
    cursor: pointer;
    transition: 0.5s linear;
}

.searchButton:hover {
    transform: scale(1.2);
    border-color: rgb(255, 30, 0);
}

input {
    padding-left: 10px;
    width: 200px;
    height: 26px;
    font-size: 14px;
    color: aqua;
    border-radius: 40px;
    transition: 0.5s linear;
}

input:hover {
    border-color: aqua;
}